<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mengzhou.trashrecycling.mapper.CyclopediaMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mengzhou.trashrecycling.model.Cyclopedia">
        <id column="id" property="id" />
        <result column="cyclopediaName" property="cyclopediaName" />
        <result column="cyclopediaIcon" property="cyclopediaIcon" />
        <result column="cyclopediaDesc" property="cyclopediaDesc" />
        <result column="cyclopediaContent" property="cyclopediaContent" />
        <result column="createTime" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, cyclopediaName AS cyclopediaName, cyclopediaIcon AS cyclopediaIcon, cyclopediaDesc AS cyclopediaDesc, cyclopediaContent AS cyclopediaContent, createTime AS createTime
    </sql>

</mapper>
