<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mengzhou.trashrecycling.mapper.HealthMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mengzhou.trashrecycling.model.Health">
        <id column="id" property="id" />
        <result column="imei" property="imei" />
        <result column="heartRate" property="heartRate" />
        <result column="dbp" property="dbp" />
        <result column="sdp" property="sdp" />
        <result column="oxygen" property="oxygen" />
        <result column="createTime" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, imei, heartRate AS heartRate, dbp, sdp, oxygen, createTime AS createTime
    </sql>

</mapper>
