<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mengzhou.trashrecycling.mapper.OrdersMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, openId AS openId, productName AS productName, productPrice AS productPrice, productCount AS productCount, integral AS integral, status, createTime AS createTime
    </sql>

    <!--查询七天内每天成交的订单量-->
    <select id="find7Count" resultType="java.util.HashMap">
        SELECT
            DATE_FORMAT(a.createTime,'%m-%d ') AS createTime,
            ifnull( b.count, 0 ) AS count
        FROM
            (
            SELECT
                curdate( ) AS createTime UNION ALL
            SELECT
                date_sub( curdate( ), INTERVAL 1 DAY ) AS createTime UNION ALL
            SELECT
                date_sub( curdate( ), INTERVAL 2 DAY ) AS createTime UNION ALL
            SELECT
                date_sub( curdate( ), INTERVAL 3 DAY ) AS createTime UNION ALL
            SELECT
                date_sub( curdate( ), INTERVAL 4 DAY ) AS createTime UNION ALL
            SELECT
                date_sub( curdate( ), INTERVAL 5 DAY ) AS createTime UNION ALL
            SELECT
                date_sub( curdate( ), INTERVAL 6 DAY ) AS createTime
            ) a
            LEFT JOIN ( SELECT date( createTime ) AS datetime, count( * ) AS count FROM orders GROUP BY date( createTime ) ) b ON a.createTime = b.datetime
        ORDER BY
            a.createTime ASC
    </select>

    <!--根据id查询订单详情-->
    <select id="findOrderById" parameterType="java.lang.String" resultType="java.util.HashMap">
        SELECT
        a.id,
        a.productName AS productName,
        a.productPrice AS productPrice,
        a.productCount AS productCount,
        a.integral AS integral,
        case a.STATUS when '1' then '已发货' when '0' then '已支付' end 'status',
        b.userName `userName`,
        b.mobile mobile,
        b.address address,
        DATE_FORMAT(a.createTime,'%Y-%m-%d %H:%i:%S') AS createTime
        FROM
        `orders` a
        LEFT JOIN address b ON a.addressId = b.id
        WHERE
        a.id=#{id}
    </select>
</mapper>
