<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mengzhou.trashrecycling.mapper.OrdersMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, openId AS openId, productName AS productName, productPrice AS productPrice, productCount AS productCount, totalMoney AS totalMoney, status, createTime AS createTime
    </sql>

</mapper>
