<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mengzhou.trashrecycling.mapper.RecruitmentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mengzhou.trashrecycling.model.Recruitment">
        <id column="id" property="id"/>
        <result column="recruitmentName" property="recruitmentName"/>
        <result column="recruitmentContent" property="recruitmentContent"/>
        <result column="contacts" property="contacts"/>
        <result column="mobilePhone" property="mobilePhone"/>
        <result column="createTime" property="createTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, recruitmentName AS recruitmentName, recruitmentContent AS recruitmentContent, contacts, mobilePhone AS mobilePhone, createTime AS createTime
    </sql>

</mapper>
