<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mengzhou.trashrecycling.mapper.WarningMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mengzhou.trashrecycling.model.Warning">
        <id column="id" property="id" />
        <result column="imei" property="imei" />
        <result column="warningType" property="warningType" />
        <result column="battery" property="battery" />
        <result column="address" property="address" />
        <result column="longitude" property="longitude" />
        <result column="latitude" property="latitude" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, imei, warningType AS warningType, battery, address, longitude, latitude
    </sql>

</mapper>
